:root, body, #root {
  height: 100%;
}

.btn-round {
  border-radius: 50% !important; 
  padding: 0.5rem !important;
}

#root {
  display: flex;
  flex-direction: column;
}

.tab-content {
  flex: 1;
  overflow-y: hidden;
}

.tab-pane {
  height: 100%;

  flex-direction: column;
}

.tab-pane.active {
  display: flex;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  background: #3c3c3c;
}